target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
org.eclipse.*
.classpath
.project
.settings/
/.travis.yml~
/apidesign.vpp~15
/apidesign.vpp~16
